<h1 class="text-center">Chi tiết sản phẩm</h1>

<div class="container">
  <div class="row">
    <a routerLink="/product/list" class="text-end">Xem danh sách</a>
    <div class="col-6 mt-2">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Mã SP</th>
          <td>{{product.id}}</td>
        </tr>
        <tr>
          <th>Tên SP</th>
          <td>{{product.name}}</td>
        </tr>
        <tr>
          <th>Giá SP</th>
          <td>{{product.price}}</td>
        </tr>
        <tr>
          <th>Mô Tả SP</th>
          <td>{{product.description}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
