<h1 class="text-center">Danh sách sản phẩm</h1>
<div class="container mt-5">

  <!-- <input placeholder="Type to filter" [(ngModel)]="searchToken"/> -->
  <div class="row">
    <div class="col-md-6">
      <a routerLink="/product/create">Tạo mới sản phẩm</a>
    </div>
    <div class="col-md-6 text-end">
      <form [formGroup]="searchForm" (ngSubmit)="search()">
        <input placeholder="Search" type="text" formControlName="search">
        <input type="submit" value="Search">
      </form>
    </div>
  </div>


  <table class="table text-center table-bordered table-striped mt-2">
    <tr>
      <th>STT</th>
      <th>Tên</th>
      <th>Giá</th>
      <th>Mô tả</th>
      <th>Chi tiết</th>
      <th>Hành động</th>
    </tr>

    <tr *ngFor="let product of products; index as i">
      <td>{{product.id}}</td>
      <td>{{product.name}}</td>
      <td>{{product.price}}</td>
      <td>{{product.description}}</td>
      <td><a routerLink="/product/{{product.id}}/show">Show</a></td>

      <td><a routerLink="/product/{{product.id}}/edit">Edit</a>
        <a routerLink="/product/{{product.id}}/destroy">Delete</a>
      </td>
    </tr>
  </table>
</div>
