<div class="container">
  <h1 class="text-center">Chỉnh sửa sản phẩm</h1>

  <form [formGroup]="productForm" (ngSubmit)="submit()">
    <table>
      <tr>
        <td>Tên sản phẩm:</td>
        <td><input type="text" formControlName="name" ></td>
        <td><small *ngIf="submitted && productForm.controls.name.errors?.required" class="text-danger">Nhập tên sp
            vào</small></td>
      </tr>
      <tr>
        <td>Giá sản phẩm</td>
        <td><input type="number" formControlName="price" ></td>
        <td><small *ngIf="submitted && productForm.controls.price.errors?.required" class="text-danger">Nhập giá sp
            vào</small></td>
      </tr>
      <tr>
        <td>Mô tả về sản phẩm</td>
        <td><input type="text" formControlName="description" ></td>
        <td><small *ngIf="submitted && productForm.controls.description.errors?.required" class="text-danger">Nhập mô tả
            sp vào</small></td>
      </tr>
      <tr>
        <td></td>
        <td><button type="submit" class="btn btn-primary">Chỉnh sửa</button></td>
        <td></td>
      </tr>
    </table>
  </form>
</div>
