<h1 class="text-center">Xóa sản phẩm</h1>

<div class="container">
  <div class="row">
    <div class="col-6">
      <table class="table table-bordered table-striped">
        <tr>
          <th>Mã SP</th>
          <td>{{product.id}}</td>
        </tr>
        <tr>
          <th>Tên SP</th>
          <td>{{product.name}}</td>
        </tr>
        <tr>
          <th>Giá SP</th>
          <td>{{product.price}}</td>
        </tr>
        <tr>
          <th>Mô Tả SP</th>
          <td>{{product.description}}</td>
        </tr>
      </table>
      <a (click)="destroy()" routerLink="/product/list" class="btn btn-danger mt-2">Xóa</a> &ensp;
      <a routerLink="/product/list" class="btn btn-secondary mt-2">Quay lại</a>
    </div>
  </div>
</div>
